<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myaudio">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/music"
        android:label="@string/app_name"
        android:roundIcon="@drawable/berry"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAudio">
        <activity android:name=".EDM1"></activity>
        <activity android:name=".Rock2" />
        <activity android:name=".Rock1" />
        <activity android:name=".LamanEDM" />
        <activity android:name=".LamanRock" />
        <activity android:name=".Dangdut3" />
        <activity android:name=".Dangdut2" />
        <activity android:name=".Dangdut1" />
        <activity android:name=".LamanMenu" />
        <activity android:name=".LamanDangdut" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>